body {
    font-family: 'Arial', sans-serif;
    background-image: url('../IMG/white\ backgroun\ 0a193693-584b-4290-9638-274ce8dbd8b9.png');
    background-position: 230px;
    padding-top:7% ;


}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    height: 100vh;
    margin: 0;
}

h1{
    margin-bottom: -10%;
    text-align: center;
    color: #2980b9;
    animation: h1anim 1s forwards;
}
h1::before{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #2980b9;
    display: block;
    transform: translate(400px,25px);
}
h1::after{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #2980b9;
    display: block;
    transform: translate(1200px,-25px);
}
@keyframes h1anim {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }
        100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.overlap {
    color: #ffffff;
    font-weight: 800;
  }
  .overlap  span {
    text-shadow: -0.08em 0.03em 0.12em grey;
  }
  .overlap  span:not(:first-child) {
    margin-left:-0.22em ;
  }
#valueForm {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.235);
    border-radius: 6px;
    animation: input 2s ease;
}
#valueForm input[type="number"] {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#valueForm input[type="number"]:focus {
    outline: none;
    border-color: #7f8c8d;
}

#valueForm button {
    padding: 12px 0;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@keyframes input {
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
        100%{
        transform: translateX(0);
        opacity: 1;
    }
}
#valueForm button:hover {
    background-color: #2980b9;
}

#valueForm button:active {
    background-color: #1c6380;
}
.displaychart{
    animation: input 1s forwards;
}

@media screen and (max-width: 900px) {
    body{
        scroll-behavior: smooth;
    }
    #main{
        display: inline;
    }
    #valueForm{
        margin-bottom: 20%;
    }
    #valueForm input[type="number"], #valueForm button {
        width: 90%;
    }
h1{
    margin-bottom: 10px;
}

}