body {
    font-family: 'Arial', sans-serif;
    background-image: url('../IMG/white\ backgroun\ 0a193693-584b-4290-9638-274ce8dbd8b9.png');
    background-position: 230px;
}
#main{
    display: flex;
    justify-content: center;
    gap:50px;
    margin: 0;
}

h1{
    text-align: center;
    color: #2980b9;
    margin-top: 5%;
    animation: h1anim 1s forwards;
}
h1::before{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #2980b9;
    display: block;
    transform: translate(18vw,25px);
}
h1::after{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #2980b9;
    display: block;
    transform: translate(75vw,-25px);
}
@keyframes h1anim {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }
        100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.overlap {
    color: #ffffff;
    font-weight: 800;
  }
  .overlap  span {
    text-shadow: -0.08em 0.03em 0.12em grey;
  }
  .overlap  span:not(:first-child) {
    margin-left:-0.22em ;
  }
#valueForm {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.235);
    border-radius: 6px;
    animation: input 2s ease;
}
#valueForm input[type="number"] {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#valueForm input[type="number"]:focus {
    outline: none;
    border-color: #7f8c8d;
}

#valueForm button {
    padding: 12px 0;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@keyframes input {
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
        100%{
        transform: translateX(0);
        opacity: 1;
    }
}
#valueForm button:hover {
    background-color: #2980b9;
}

#valueForm button:active {
    background-color: #1c6380;
}
.displaychart{
    animation: input 1s forwards;
}

  footer {
    margin: auto;
    width: 90%;
    margin-top: 40px;
    font-size: 16px;
  }
  footer * {
    border: none;
    outline: none;
  }
  .row {
    padding: 2em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: stretch;
  }
  .column {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: #2a8ded;
    font-size: 1.6em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #2a8ded;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i:hover {
    color: #2a8ded;
  }
  .row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .row.secondary i {
    font-size: 1.8em;
    color: #2a8ded;
  }
  .row.secondary div {
    padding: 1em 0;
    width: 100%;
  }
  .row.secondary div:hover {
    background-color: #2980b9;
  }
  .copyright {
    padding: 0.3em 1em;
    background-color: #2a8ded;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: center;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .row.secondary {
      flex-direction: column;
    }
  }
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(225, 179, 179)(225, 179, 179); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e0a9a9; 
  }
@media screen and (max-width: 900px) {
    body{
        scroll-behavior: smooth;
    }
    #main{
        display: inline;
    }
    #valueForm{
        margin-bottom: 20%;
    }
    #valueForm input[type="number"], #valueForm button {
        width: 90%;
    }
h1{
    margin-bottom: 10px;
    text-align: left;
}
h1::before, h1::after{
display: none;
}
}